@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: 217 100% 95%;
    --foreground: 217 5% 0%;
    --card: 217 50% 90%;
    --card-foreground: 217 5% 10%;
    --popover: 217 100% 95%;
    --popover-foreground: 217 100% 0%;
    --primary: 217 88% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 179 30% 85%;
    --muted-foreground: 217 5% 35%;
    --accent: 179 30% 80%;
    --accent-foreground: 217 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 50%;
    --input: 217 30% 18%;
    --ring: 217 88% 19.6%;
    --radius: 0.5rem;


    --main-heading-max: 61px;
    --main-heading-min: 38px;


    --size-xxs: 2px;
    --size-xs: 4px;
    --size-s: 8px;
    --size: 10px;

    --size-m: 1rem;
    --size-l: 2rem;
    --size-xl: 2.5rem;
    --size-xxl: 3rem;
    --section-space: 5rem;
}


.dark {
    --background: 217 50% 5%;
    --foreground: 217 5% 90%;
    --card: 217 50% 0%;
    --card-foreground: 217 5% 90%;
    --popover: 217 50% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 88% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 30% 15%;
    --muted-foreground: 217 5% 60%;
    --accent: 179 30% 15%;
    --accent-foreground: 217 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 18%;
    --input: 217 30% 18%;
    --ring: 217 88% 19.6%;
    --radius: 0.5rem;
}


a {
    display: inline-block;
    outline-offset: 4px;
    outline-color: hsl(var(--ring));
    text-decoration: none;

}

p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

.headingfont {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    /* letter-spacing: -0.04rem; */
}

.secondary-HeadingFont {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    letter-spacing: -0.04rem;
    font-size: 26px;

}

.main-color {
    color: hsl(var(--primary));
}

.mutedheading {
    color: hsl(var(--primary-foreground));
}

.muted-color {
    color: #3d3d3d;
}

.text-darkcolor {
    color: #3d3d3d;
}


.section-heading {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -0.04rem;
    font-size: 32px;

}

.section-Wrapper {
    padding-block: var(--section-space);
}

.bg-main {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    position: relative;
    z-index: 1;
}

.bg-diff {
    background-color: rgb(11, 10, 20);
    color: hsl(var(--primary-foreground));
}

.bg-cust {
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    z-index: -1;
}

#wave {
    fill: hsl(var(--background));

}


.logo_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--size-l);
}

.logo_Wrapper {
    width: 120px;
    height: auto;
}

.logo_Wrapper img {
    width: 100%;
    height: 100%;
}

.middle_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--size-l);
}

.main_heading h1 {
    font-size: clamp(var(--main-heading-min), 3.2vw, var(--main-heading-max));
    text-align: center;
}

.main_secondary {
    /* margin-block: 10px; */
    font-size: 26px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    /* color: hsl(var(--accent-foreground)); */
    letter-spacing: -0.04em;
}

.infos {
    text-align: center;
    margin-block: var(--size) var(--size-l);
    color: hsl(var(--secondary));
}

.infos span {
    color: hsl(var(--primary-foreground));
}

.form-wrap {
    width: 380px;
    padding: 1rem 1rem;
    border-radius: var(--size);
    backdrop-filter: blur(19px) saturate(180%);
    -webkit-backdrop-filter: blur(19px) saturate(180%);
    background-color: hsla(var(--card));
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.form-wrapper {
    position: relative;
    transition: all 0.3s ease;
}

.form-wrapper input {
    width: 100%;
    border-radius: var(--size-xs);
    border: 1px solid #afafaf;
    outline-offset: 3px;
    outline-color: hsl(var(--primary));
    padding: var(--size);
    transition: all 0.3s ease;
    /* background-color: hsl(var(--background));
     */
}

.form-wrapper label {
    position: absolute;
    left: var(--size-s);
    top: 50%;
    padding: 0 var(--size-xs);
    border-radius: var(--size-xs);
    border: 1px solid transparent;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    color: #3d3d3d;
}


.form-wrapper input:focus+label,
.form-wrapper input:not(:placeholder-shown)+label {
    top: -02px;
    background-color: hsl(var(--background));
    border: 1px solid hsl(var(--secondary));
    font-size: 13px;
    color: hsl(var(--primary));
}

.form-wrapper input:not(:placeholder-shown) {
    border: 1px solid hsl(var(--primary));
}



.form-wrap .custom-btn {
    border: none;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border-radius: var(--size-xs);
    padding: var(--size);
    box-shadow: none;
    width: 100%;
    margin-block-start: var(--size-m);
    transition: all 0.3 ease-in;
}

.custom-btn:active,
.googlebtn:active {
    transform: scale(0.95);
}

.googlebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afafaf;
    border-radius: var(--size-xs);
    background-color: #fff;
    padding: var(--size-s);
    color: hsl(var(--secondary-foreground));
    transition: background-color 0.3s ease-in;
}

.googlebtn:hover {

    background-color: hsl(var(--secondary) / 30%);
}

.googlebtn svg {
    width: 30px;
    height: 30px;
}

/* .form-wrap .custom-btn {
    border: none;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border-top-right-radius: var(--size-xs);
    border-bottom-right-radius: var(--size-xs);
    box-shadow: none;
    width: 100px;
    transition: all 0.3 ease-in;
} */



/* .middle_section .form-floating {
   
    background-color: hsl(var(--primary-foreground));
    padding: var(--size-xs);
    border-radius: var(--size-xs);
    transition: background-color 0.3s ease-in;
} */

/* :has(.form-floating input:focus) .middle_section .form-floating,
:has(.form-floating .custom-btn:focus) .form-floating {
    background-color: hsl(var(--secondary));
}

.middle_section .form-floating input {
    border-radius: 0;
    border-top-left-radius: var(--size-xs);
    border-bottom-left-radius: var(--size-xs);
    box-shadow: none;
    border: none;
    line-height: normal;
}

.middle_section .form-floating label {
    color: hsl(var(--secondary));
    line-height: normal;
} */
/* 
.form-floating input:focus+label,
.form-floating input:not(:placeholder-shown)+label {
    color: hsl(var(--primary)) !important;

} */


/* .middle_section .form-floating .custom-btn:active {
    transform: scale(0.95);
} */

.hero-image {
    margin-block-start: var(--size-l);
    width: auto;
    height: 360px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.common_feature p {
    font-size: 18px;
    /* padding-inline: var(--size); */
}

.shade1 {
    /* background: url('../assets/paperBG.jpg') no-repeat center; */
    background: rgba(156, 173, 201, 0.253);
    background: -moz-linear-gradient(180deg, rgba(156, 173, 201, 0.205) 8%, rgba(141, 160, 193, 0.185) 96%);
}

.darkershade1 {
    background-color: hsla(var(--secondary) / 20%);
    color: hsl(var(--secondary-foreground));
}

.darkershade2 {
    background-color: hsla(var(--secondary) / 10%);
    color: hsl(var(--secondary-foreground));

}

.darkershade3 {
    background-color: hsla(var(--secondary) / 30%);
    color: hsl(var(--secondary-foreground));

}

.darkershade4 {
    background-color: hsla(var(--card));
    color: hsl(var(--secondary-foreground));

}

.posittion-relative {
    position: relative;
    min-height: 460px;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.feature_image {
    /* background-color: #eee; */
    padding-inline: 10px;
    /* position: absolute;
    inset: 0;
    z-index: -1; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-block: auto;
}

.feature_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.logogrid {
    display: grid;
    grid-template-columns: repeat(05, 1fr);
    gap: var(--size);
}

.logocontainer {
    width: 100px;
    height: 100px;
    padding: var(--size);
    border-radius: var(--size);
    background-color: #fff;
}

.logocontainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.benefits-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--size);
    text-wrap: balance;
}

.benefits {
    width: 300px;
}



.benefits-tag {

    padding: var(--size-s);
    border-radius: var(--size);
    display: flex;
    align-items: center;
    line-height: normal;
    gap: var(--size-s);
}

.beneimg {
    width: 30px;
    height: 30px;
    background-color: hsl(var(--secondary) / 50%);
    padding: var(--size-xs);
    border-radius: var(--size-xxs);
}

.beneimg img {
    width: 100%;
    height: 100%;
}

.benefitsList {
    padding-left: var(--size-m);
    font-size: 18px;
}

.benefitsList li {
    margin-top: var(--size);
}

.testimonal-wrapper {
    padding: 1rem 1rem;
    border-radius: var(--size);
    backdrop-filter: blur(19px) saturate(180%);
    -webkit-backdrop-filter: blur(19px) saturate(180%);
    border: 1px solid rgba(209, 213, 219, 0.3);
    text-wrap: balance;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-m);
}

.social_icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--size-m);
}

.social_icons a {
    color: hsl(var(--primary-foreground));
    font-size: 20px;
}

.featureSec .swiper-slide {
    min-height: 380px;
    /* background-color: #f3f3f3; */
    /* border: 1px solid #afafaf; */
}

.navigators {
    background-color: transparent;
    color: hsl(var(--card-foreground));
    border: 1px solid #afafaf;
    color: #535353;
    padding: var(--size);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: var(--size-xs);
    outline-offset: 3px;
    outline-color: hsl(var(--ring));
    transition: all 0.3s ease-in;
}

.navigators:hover,
.navigators:focus-visible {
    background-color: hsl(var(--secondary) / 15%);
    color: hsl(var(--secondary-foreground));
    border-color: hsl(var(--border));
}

.navigators:active {
    transform: scale(0.9);
}

.defaultCard {
    background-color: hsla(var(--card));
    color: hsl(var(--card-foreground));
    border: 1px solid hsl(var(--border));
}

.feContainer {
    border-radius: var(--size-m);
    padding: var(--size-m);
    background-color: hsla(var(--card));
    color: hsl(var(--card-foreground));
    border: 1px solid hsl(var(--border));
}

.fImageContainer {
    height: 300px;
    width: auto;
    margin-bottom: 1rem;
}

.fImageContainer img {
    width: 100%;
    aspect-ratio: 16/9;
    height: 100%;
    object-fit: contain;
    image-rendering: crisp-edges;
}

.BottomFContainer {
    transform: translateY(100px);
    opacity: 0;
    text-align: center;
}

.swiper-slide-active .BottomFContainer {
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease 0.1s;
}

.mySwiper2,
.mySwiper3 {
    border: 1px solid hsl(var(--border));
    background-color: #fff;
    border-radius: var(--size);
    padding: var(--size-s);
}

.mySwiper2 .swiper-wrapper,
.mySwiper3 .swiper-wrapper {
    transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
    -moz-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
}

.BottomFContainer {}

@media screen and (max-width:992px) {
    .fImageContainer {
        height: 240px;
    }
}

@media screen and (max-width:575px) {
    .form-wrap {
        width: 100%;
    }

    .logogrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
